@page "/dashboard"
@using ProjectBank.Infrastructure
@using ProjectBank.Core
@using ProjectBank.Core.EF.DTO
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>@title</PageTitle>

<head>
    <link rel="stylesheet" href="Dashboard.razor.css">
</head>

<div class="ProjectHeader">
    <h1 class="ProjectTitle">@title</h1>
    <!--Idea is to only show Status to the author of the project-->
    <div class="Status Public">
        <p>Public</p>
    </div>
</div>

<div class="Buffer_20"></div>   


<div class="row ProjectInfoDisplay">
  <div class="col-md-8 DescriptionContainer">
    <div class="DescriptionDisplay">
        <div class="DescriptionTitle">
            <p>Published by <span id="AuthorContainer">Mette 'Slette' Frederiksen</span></p>
        </div>
        <div class="Description">
            <textarea readonly id="ProjectDescription" class="overflow-auto">@Description</textarea>
            <!--<button class="btn btn-info ContractButton" @onclick="@(() => ExpandedDescription())">@ExpandDescription</button>-->
        </div>
    </div>
  </div>
  <div class="col-6 col-md-4 AuxInfoContainer">
      <div class="row TargetGroup">
          <h1>Target group</h1>
          <div class="TargetGroupContainer">
              <p>IT University of Copenhagen</p>
          </div>
      </div>
      <div class="row">
          <div class="row">
              <div class="col-8">
                <h1>Collaborators</h1>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-sm InviteButton">Invite</button>  
              </div>
          </div>
          <div class="CardContainer">
              <ul>
                  <li>Jens</li>
                  <li>Joe Biden</li>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="row">
              <div class="col-8">
                <h1>Students</h1>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-sm InviteButton">Apply</button>  
              </div>
          </div>
          <div class="CardContainer">
              <ul>
                  <li>Student 1</li>
                  <li>Student 2</li>
                  <li>Donald J. Trump</li>
              </ul>
          </div>
      </div>
      <div class="row">
          <h1>Project Tags</h1>
          <div class="CardContainer">
              <ul>
                  <li>Economics</li>
                  <li>Database</li>
                  <li>C#</li>
                  <li>Mink</li>
              </ul>
          </div>
      </div>
  </div>
</div>

<div class="Buffer_40"></div>

<div class="RelatedProjectsContainer">
    <h2>Related projects</h2>
    <button type="button" class="btn btn-block CustomButton">Tap to see within target group</button>
</div>

@code {
    string title = "Project Title Which is Long";
    string empty = string.Empty;
    string Description = "Loading description...";
    string description = string.Empty;
    string ExpandDescription = "Contract";
    
    private IProject[]? projects;
    
    [Parameter]
    public int? ProjectId {get; set;}

    ProjectDTO[] project;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string Projectstr = "Hah work";
            //ProjectId = 1;
            project = await Http.GetFromJsonAsync<ProjectDTO[]>($"Project/Get/{Projectstr}");
        }
        catch (Exception exception)
        {
            Console.WriteLine(":((( {0}",exception.Message);
            //exception.Redirect();
        }
        this.description = project[0].Description;
        this.title = title + ", ID: " + project[0].Id;
        ExpandedDescription(true);
    }

    public void ExpandedDescription(bool IsExpanded){
        Console.WriteLine("pressed the button");
        if(IsExpanded) {
            this.Description = description;
            this.ExpandDescription = "Contract";
        }
        else {
            this.Description = description.Substring(0,200) + "...";
            this.ExpandDescription = "Expand";
        }
    }

    public void ExpandedDescription(){
        if(this.ExpandDescription == "Expand") ExpandedDescription(true);
        else ExpandedDescription(false);
    }
}