@page "/projects"
@attribute [AllowAnonymous]
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Your Projects</PageTitle>

<head>
    <link rel="stylesheet" href="Projects.razor.css">
</head>

<h1>Projects</h1>

<p>
    <button class="btn btn-primary" @onclick="Create">New</button>
</p>

@if (projects == null)
{
    <p><em>Loading...</em></p>
}

<AuthorizeView>
    <Authorized>
        <!-- Row 1 -->
        <div class="container">

            <div class="row my-3">

                @foreach (var project in projects)
                {
                    <div class="col-12 col-md-6 col-xl-4 my-3">
                        <div class="card col project">
                            <div class="card-body">
                                <div class="row">
                                    <h2 class="card-title col-9">@project.Title</h2>
                                    <div class="col-2">
                                        <a href="" class=" nrbtn btn">@project.UserIDs.Count()/@project.MaxStudents</a>
                                    </div>
                                </div>
                                <p class="card-text mb-5 description">@project.Description</p>
                                <div class="tagdiv mb-3">
                                    <ul>
                                        @foreach (var tag in project.TagIDs)
                                        {
                                            <li class="tag tagbtn mx-1">@tag</li>
                                        }
                                    </ul>
                                </div>
                                <a href="Projects/@project.Id" class="btn btn-primary footer">@more</a>
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </Authorized>
     <NotAuthorized>
         You must be logged in to see the projects
     </NotAuthorized>
</AuthorizeView>

@code {

    string more = "View more";

    private ICollection<ProjectDTO> projects = new List<ProjectDTO>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            projects = await Http.GetFromJsonAsync<ProjectDTO[]>($"api/Projects");
            

        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    private void Create()
    {
        var uri = $"{NavigationManager.BaseUri}projects/create";

        NavigationManager.NavigateTo(uri);
    }
}